:root {
    --cor-de-fundo: #EBECEE;
}

body {
    background-color: var(--cor-de-fundo);
}
<<<<<<< HEAD
h1 {
    background-color: white;
}

h1 {
    background-color: white;
}
>>>>>>> 9c7d4d8a320a30b771ec83ed0b75fb435a894b2b